.mobile-menu {
    display: block;
    list-style-type: none;
    background-color: #fff;
    float: right;
    width: 150px;
    padding: 5px 0 50px 0;
    border: 1px solid #eee;
    z-index: 55;
  }
  
  .mobile-links li {
    line-height: 2.8rem;
  }
  
  .mobile-btn {
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: column;
    cursor: pointer;
  }
  
  .nav-list {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
  }
  
  .nav-list:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  /* Mobile to Tablet  */
  @media (min-width: 320px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }

    .hero{
        height: 900px;
    }
  
    .newest > div {
        align-self: center;
        justify-self: center;
        margin-bottom: 5px;
        }

        #explore-video{
          flex-direction: column;
        
            
          }
          #explore-video > #video {
            align-self: center;
            
        }
    

          #explore-video > #video > iframe{
              width: 300px;
              
          }
      
      

     
  }
  
  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-menu,
    .mobile-btn,
    .fa-bars {
      display: none;
    }
    .newest > div {
        align-self: center;
        justify-self: center;
        margin-bottom: 5px;
        margin-right: 5px;
        }

       
            #explore-video > #video {
              align-self: center;
              
          }
      
  
            #explore-video > #video > iframe{
                width: 600px;
                
            }
    
  }